<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="istanbul.codify.muudy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".HowdyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:replace="android:supportsRtl,android:allowBackup">

        <activity
                android:name=".ui.splash.SplashActivity"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.AuthActivity"/>

        <activity android:name=".ui.createuser.CreateUserActivity"/>

        <activity
                android:name=".ui.main.MainActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.compose.ComposeActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.word.WordActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.search.UserSearchActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.messages.UserMessagesActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.chat.ChatActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.postdetail.PostDetailActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.profileedit.ProfileEditActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.response.ResponseActivity"
                android:theme="@style/ResponseTheme"/>

        <activity
                android:name=".ui.facebookfriends.FacebookFriendsActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.forgotpassword.ForgotPasswordActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.video.VideoActivity"
                android:theme="@style/MediaTheme"/>

        <activity
                android:name=".ui.photo.PhotoActivity"
                android:theme="@style/MediaTheme"/>
        <activity
                android:name=".ui.mention.MentionActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name=".ui.places.PlacesActivity"
                android:theme="@style/MainTheme"/>

        <service
                android:name=".account.AccountService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <service
                android:name=".account.sync.profile.ProfileSyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/sync_profile"/>
        </service>

        <provider
                android:name=".account.sync.profile.ProfileProvider"
                android:authorities="istanbul.codify.muudy.profile.profile"
                android:exported="false"
                android:label="Profile"
                android:syncable="true"/>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <service android:name=".fcm.FCMRegisterService" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.FCMListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name=".fcm.UpdatePushService"
                android:enabled="true"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_round"/>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/blue"/>
    </application>
</manifest>
